# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

*.rds

stan/nll/_site/*

*.dcf

stan/howell1/unconditional

stan/world_fraction_water/world

stan/howell1/conditional

stan/mixed_cafes/Cafes_of_Konstanz

*.mov

stan/football/hier_model

stan/football/non_hier_model

stan/elpd/temp4cmdstan.stan

stan/elpd/temp4cmdstan

stan/robustness/robustness_lsg.html

stan/robustness/robustness_no_lsg.html

stan/kn_rent/rent_kn_lsg.html

stan/kn_rent/rent_kn_no_lsg.html

stan/gp/GP_island_pred

website/Stan_Primer_Full_files/*

stan/checking_installation/simple_lr
*.DS_Store
*.Rproj
lab/lr_1/lr
website/stan/simple_lr
lab/lr_mcmc_diag/linear_regression
lab/lr_mcmc_diag/Stan_Primer_model_pred
stan/howell1/unconditional
stan/logreg_challenger/log_reg
lab/robust_regression/1d_lin_robust
lab/poiss_reg_fish/poisson_reg
lab/robust_regression/1d_lin
stan/elpd/unconditional_normal
stan/complex_prior/2_normals
stan/complex_prior/2_trunc_normals
stan/complex_prior/normal
lab/football1/non_hier_model
lab/football1/hier_model
lab/kn_rent/kn_hier
stan/kn_rent/kn_hier
lab/kn_rent/rent_kn_cmdrstan_lsg.html
lab/kn_rent/rent_kn_cmdrstan_nolsg.html
stan/football/correlated_samples_fixed
stan/football/hier_model_cor
stan/gp/GP_island
lab alias
causality/Direction.html
causality/Direction.pdf
lab/lr_1/lr_maxlike
lab/pp/co2
lab/pp/lr_logistic
lab/lr_1/lr_maxlike_lp
lab/water_world/world
pp/lr
pp/lr
/keras_jax_env
.vscode/settings.json
*.gz
*.log
*.fls
*.fdb_latexmk
*.aux
stan/sampling_circle/sampling_euclidean
stan/sampling_circle/sampling_euclidean_abitrary_dim
stan/sampling_circle/sampling_polar
stan/sampling_circle/sampling_polar_abitrary_dim
stan/howell1/unconditional
*.pdf
lecture_notes/marginal_intuition.toc
*.snm
*.out
*.nav
*.toc
/lecture_notes/MCMC/MCMC_files
/website/_extensions
website/lecture_notes/MCMC/MCMC.tex
/lab/lr_1_MH_vs_Stan/MH_Stan_files
lab/lr_1_MH_vs_Stan/MH_Stan.html
/lab/king_markov/MCMC_simple_files
lab/king_markov/MCMC_simple.html
lab/lr_1_MH_vs_Stan/linear_regression


stan/logreg_challenger/animation_*.mp4
stan/logreg_challenger/log_reg_no_prior
lab/lr_1_MH_vs_Stan/linear_regression
lab/lr_1_MH_vs_Stan/linear_regression
/lab/football1/Hierarchical_files
/lab/football1/Hierarchical_files
lab/lr_1_MH_vs_Stan/linear_regression
lab/kn_rent/kn_comp_pooling
lab/kn_rent/kn_no_pooling
lab/kn_rent/kn_non_hier
/lab/football1/Hierarchical_files
/lab/football1/Hierarchical_files
